<div class="container mt-5">
  <div class="row">
    <div class="col offset-mx-3">
      <div class="card">
        <div class="card-header"  style="background-color:darkblue; color: white;"> Recherche de site 5G </div>
        <div class="card-body">
          <div class="row">
            <form [formGroup]="searchForm" (ngSubmit)="searchSites()">
              <div class="row control-group">
                <mat-form-field appearance="outline">
                  <mat-label>Nom du site</mat-label>
                  <input matInput formControlName="name" [(ngModel)]="site.name" name="name"
                    placeholder="Nom du site" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Code G2R</mat-label>
                  <input matInput formControlName="code" [(ngModel)]="site.code" name="code" placeholder="Code G2R" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Etat</mat-label>
                  <input matInput formControlName="state" [(ngModel)]="site.state" name="state" placeholder="Etat" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Plaque de déploiement</mat-label>
                  <input matInput formControlName="area" [(ngModel)]="site.area" name="area"
                    placeholder="Plaque de déploiement" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Région</mat-label>
                  <input matInput formControlName="region" [(ngModel)]="site.region" name="region"
                    placeholder="Région" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>MOE Projet</mat-label>
                  <input matInput formControlName="moeProjet" [(ngModel)]="site.moeProjet" name="moeProjet"
                    placeholder="MOE Projet" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
              <br>
              <!-- Submit Button -->
              <div class="container">
                <div class="col">
                  <button type="submit" class="mat-button btn btn-primary" color="primary"
                    (click)="searchSites()">Recherche</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col offset-mx-3">
      <div class="card">
        <div class="card-header" style="background-color:darkblue; color: white;">Résultat</div>
        <div class="card-body">
          <div *ngIf="!sites">Aucun site trouvé"</div>
          <div class="table-responsive" id="sitesTable" *ngIf="sites.length > 0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Code G2R</th>
                  <th>Name</th>
                  <th>Etat</th>
                  <th>Region</th>
                  <th>Zone</th>
                  <th>Plaque de déploiement</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let site of sites">
                  <td>{{ site.code }}</td>
                  <td class="siteName">
                    <a routerLink="/sites/{{ site.id }}" routerLinkActive="active" (click)="onSelect(site)">{{ site.name
                      }}</a>
                  </td>
                  <td>{{ site.state }}</td>
                  <td>{{ site.region }}</td>
                  <td>{{ site.zone }}</td>
                  <td>{{ site.area }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>