<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-header" style="background-color:darkblue; color: white;">Informations du site</div>
      <div class="card-body">
        <b>Nom du site : </b>{{site.name}}
        <span STYLE="padding:0 0 0 40px;"> <b>Code G2R: </b>{{site.code}}</span>
        <span STYLE="padding:0 0 0 40px;"> <b>Region : </b>{{site.region}}</span>
        <span STYLE="padding:0 0 0 40px;"> <b>Plaque de déploiement: </b>{{site.area}}</span>
        <span STYLE="padding:0 0 0 40px;"> <b>Zone : </b>{{site.zone}}</span>
        <br><br>
        <b>MOE Projet: </b>{{site.moeProjet}}
        <br><br><br>
        <div class="container">
          <div class="retour-list">
            <button type="submit" class="mat-button btn btn-primary" color="primary"
              (click)="gotoSitesList()">Retour</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" style="background-color:darkblue; color: white;">Jalons</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Activité</th>
              <th>Statut</th>
              <th>Date de soumission</th>
              <th>Date de réalisation</th>
              <th>Equipe en charge</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let workstream of workstreams">
              <td>{{ workstream.nomActivite }}</td>
              <td>{{ workstream.status }}</td>
              <td>{{ workstream.startDate }}</td>
              <td>{{ workstream.endDate }}</td>
              <td>{{ workstream.respTeam }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>